<%- layout('./layouts/boilerplate') %>
    <h1>Add Farm</h1>
    <form action="/farms" method="post">
        <label for="name">Enter Farm Name: </label>
        <input type="text" id="name" name="name" placeholder="Farm Name">
        <br>
        <label for="city">Enter City: </label>
        <input type="text" id="city" name="city" placeholder="Farm City">
        <br>
        <label for="email">Enter mail:</label>
        <input type="email" id="email" name="email" placeholder="Mail id here">
        <br>
        <button>Submit</button>
    </form>
    <a href="/farms">All Farms</a>
