<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Product Details</title>
</head>
<body>
    <h1>Product Details</h1>
    <p>
        <b> Name: </b> <%= product.name %> <br>
        <b> Price: </b> <%= product.price %> <br>
        <b> Category: </b> <%= product.category %> <br>
        <a href="/products">All Products</a>
    </p>
</body>
</html>
<!-- _id: new ObjectId('66ae5c7aeec972c5a0397f1f'),
name: 'Slim Lady Finger',
price: 1,
category: 'vegetable', -->